.item {
    display: grid;
    grid-template-columns: repeat(4, 10rem 30rem 30rem 30rem);
    align-items: center;
    margin: 1rem;
}

.item > button {
    width: max-content;
    padding: 1rem;
}

@media (max-width: 768px) {
    .item {
        display: grid;
        grid-template-columns: repeat(4, 2rem 10rem 10rem 10rem);
        margin: 1rem;
    }
}
